/*!
 * Theme       : Ready Salted
 * Theme URI   : https://github.com/StourvalleyDesigns/ready_salted
 * Description : A set of simple files used to kick off a web project
 * Version     : 1.0
 * Author      : Adam Chamberlin
 * Author URI  : http://twitter.com/funkylarma
 */

//
// Import Sass stuff
//
@import "variables";
@import "mixins";

/*
 * CSS Reset
 */
@import "reset";

/*
 * Typographic styles
 */
@import "typography";

/*
 * Start custom styles here...
 */
html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: $grey;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: $basefont;
  @include font-size($basefontsize);
  line-height: $baselineheight;
  color: $textcolor;
}


/*
 * Print stylesheet
 */
@media print {
  @import "print";
}

/*
 * Media queries
 */
@-webkit-viewport { 
  width: device-width;
}

@-moz-viewport { 
  width: device-width;
}

@-ms-viewport { 
  width: device-width;
}

@-o-viewport { 
  width: device-width;
}

@viewport { 
  width: device-width;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1382px) {

}